.navigation {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    min-height: 48px;

    a {
        margin-left: 16px;
        margin-right: 16px;

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }
    }
}
