$font-main: 'Space Mono', monospace;
$font-secondary: monospace;

$color-background-main: #2d2d2d;
$color-background-secondary: #212121;

$color-font-main: #a5a5a5;
$color-font-secondary: #747474;
$color-font-disabled: #5e5e5e;

$color-line: #1e1e1e;
$color-line-focus: #8a8a8a;
