@import '../../styles/variables.scss';

.field-search {
    position: relative;
    display: inline-block;
    width: 250px;

    input {
        width: 100%;
        padding: 6px 12px;
        background-color: #212121;
        border: 0;
        color: $color-font-main;

        &:focus {
            outline: none;
        }

        &::placeholder {
            color: $color-font-secondary;
        }
    }

    &__suggestions {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        transform: translateY(100%);

        &__item {
            display: flex;
            align-items: center;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            padding: 10px;
            width: 100%;
            height: 50px;
            background-color: #111;

            img {
                width: 32px;
            }

            p {
                padding-left: 10px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            &:focus {
                outline: none;
            }

            &:hover,
            &.selected {
                background-color: #333;

                p {
                    span {
                        text-decoration: underline;
                    }
                }
            }
        }

    }
}
