@import '../../styles/variables.scss';

.field-search {
    position: relative;

    input {
        padding: 4px 8px;

        &:focus {
            outline: none;
        }

        &::placeholder {
            color: $color-font-disabled;
        }
    }

    &__suggestions {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        transform: translateY(100%);

        &__person {
            background-color: rgba(0, 0, 0, 0.5);
        }

        img {
            width: 40px;
        }

        img, p {
            display: inline-block;
            margin: 0;
        }
    }
}
