@import '../../styles/variables';

.field-search {
    position: relative;

    input {
        color: $color-font-main;
        padding: 4px 8px;
        background-color: $color-background-secondary;
        border: 1px solid $color-line;

        &:focus {
            outline: none;
            border: 1px solid $color-line-focus;
        }

        &::placeholder {
            color: $color-font-disabled;
        }
    }

    &__suggestions {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        transform: translateY(100%);

        &__person {
            background-color: rgba(0, 0, 0, 0.5);
        }

        img {
            width: 40px;
        }

        img, p {
            display: inline-block;
            margin: 0;
        }
    }
}
