@import './styles/reset.scss';
@import './styles/variables.scss';
@import './styles/theme.scss';

#app {
    .container {
        max-width: 1024px;
        margin: 0 auto;
        border: 1px dashed #0ff;
    }
}
